@import "variables";
@import "funciones";
@import "mixin";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-base;
}

.container {
  width: col-12;
  max-width: 1200px;
  margin: 0px auto;
}

.row {
  &:before{
    content: " ";
    display: table;
  }
  &:after{
    @extend .row:before;
    clear: both;
  }
}

[class*="col-"]{
  min-height: 7px;
  padding: 12px;
  float: left;
}

.nav {
  @include colors;
  padding: 1%;
  text-align: $align-center;
  &__items{
    list-style: none;
    display: inline;
    @include textAndMargin;
    &:hover {
      cursor: pointer;
      color: $color-base;
    }
  }
}

.pandas {
  @include sections;
  img {
    width: 15%;
    margin-left: $margin;
  }
}

.buttons {
  @include sections;
  &__button {
    @include colors;
    @include textAndMargin;
    width: 25%;
    &:hover {
      cursor: pointer;
    }
  }
}

.text {
  text-align: justify;
  margin-top: 2%;
  font-size: $size-text-small;
  color: $color-text;
}

footer {
  @include sections;
  @extend .nav;
}
